*{
  margin:0;
}

.App {
 
}
h1{
  text-align: center;
}
.user{
  background-color: rgb(97, 68, 97);
  color: white;
  text-shadow: 5px;
  font-style: oblique;
  border: 1px solid ;
  border-radius: 20px;
  text-align: center;
  width: 200px;
  height: 250px;
  margin: 10px;

  
}
ul{
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
}
li {

  padding: 20px;

}
img{

  border-radius: 20px;
  margin-bottom: 20px;
}




